/***********************************************************************
 * Import                                                            ***
 **********************************************************************/

/***********************************************************************
 * Font-face                                                         ***
 **********************************************************************/
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-regular-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Roboto-regular-webfont.woff') format('woff');   /* Pretty Modern Browsers */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-thin-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Roboto-thin-webfont.woff') format('woff');   /* Pretty Modern Browsers */
    font-weight: 300;
    font-style: normal;
}


/***********************************************************************
 * Native tag                                                        ***
 **********************************************************************/
/*::-webkit-scrollbar {
    width: 0px;              
    background: transparent; 
}*/

body {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

li {
    list-style-type: none;
}

h1, h2, p, div {
    font-family: "Roboto";
}


/***********************************************************************
 * IDs                                                               ***
 **********************************************************************/
#btn-start-parking {
    margin-left: 20px;
}
/*#btn-start-remote {
    margin-left: 20px;
}
*/
#camera-view {
    width: 100%;
    padding: 20px 20px 40px 0px;
    font-size: 10px;
    text-align: center;
    color: #bdbdbd;
    margin: 0;
}

#camera-view li{
    position: relative;
    display: inline-block;
    border-radius: 999px;
}

#camera-view li:first-child:before {
    content: "";
    position: absolute;
    top: calc(25%);
    left: 50%;
    width: 300%;
    height: 20%;
    background-color: #15181e;
    box-shadow: inset 0 2px 0px 0 rgba(0, 0, 0, 0.5)
}

#camera-view li .checker-wrap {
    content: "";
    width: 100%;
    height: 15px;
    background-color: #15181e;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
}

#camera-view li .checker{
    position: absolute;
    border-radius: 999px;
    width: 50%;
    padding-top: 50%;
    top: 0;
    left: 25%;
}

#camera-view li .checker:after{
    content: "";
    position: absolute;
    border-radius: 999px;
    display: none;
    background-image: linear-gradient(to top, #272931, #15181e);
    width: 90%;
    height: 90%;
    left: 5%;
    top: 5%;
}

#camera-view li .checker:before{
    content: "";
    position: absolute;
    border-radius: 999px;
    content: "";
    display: none;
    background: linear-gradient(to bottom, #272931, #15181e 97%);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5), inset 0 1px 3px 0 rgba(40, 42, 51, 0.5);
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
}

#camera-view li input:checked ~ .checker:before, #view-info li input:checked ~ .checker:after{
    display: inline-block;
}

#camera-view li input[type=radio]{
    position: absolute;
    visibility: hidden;
}

#camera-view li label {
    cursor: pointer;
    color: #bdbdbd;
    width: 100%;
    padding-top: 100%;
}

#camera-view li span {
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    margin-top: 5px;
}

#dest-info {margin: 0;}

#dest-info li {
    float: left; 
    font-size: 12px;
    color: #bdbdbd;
    margin-right: 10px;
}

#dest-info li:not(:last-of-type)::after {
    content: ".";
    color: #bdbdbd;
    position: absolute;
    margin-left: 4px;
    margin-top: -3px;
    font-weight: bold;
}

#destination-info {
    width: 100%;
    display: table;
    vertical-align: middle;
}

#destination-info .wrapper {
    display: table-cell;
    padding: 0;
    width: 100%;
    margin: 0;
    vertical-align: middle;
}

#destination-info img {
    width: 60px;
    display: inline-block;
    padding: 0;
}

#dest-name {
    height: 28px;
    font-size: 24px;
    color: #ffffff;
}

#margin-top {
    margin-top: 24px;
}

#hmi-icon-full-screen {
    float: right;
    margin: -2px 10% 0 0;
    cursor: pointer;
    position: relative;
}

#hmi-icon-full-screen img{
    width: 20px;
    height: 20px;
}

#hmi-info-driver-button-back {
    float: left;
    margin: 7px 40px;
    font-size: 16px;
    color: #6cb1e9;
    cursor: pointer;
}

#hmi-info-driver-button-back:hover {
    text-decoration: underline;
}

#hmi-info-driver-button-start {
    color: #ffffff;
    float: right;
    font-size: 16px;
    width: 120px;
    height: 36px;
    border-radius: 18.5px;
    background-color: #6cb1e9;
    border: 0;
}

#hmi-info-driver-button-wrapper {
    float: right;
    margin: 56px 10% 0 0;
    font-family: Roboto;
}

#hmi-info-driver-name {
    width: 90%;
    background: transparent;
    border: 0;
    font-family: Roboto;
    font-size: 16px;
    outline: 0;
    padding: 5px 0 3px 0;
    border-bottom: 2px solid #a6d7ff;
}

#hmi-info-driver-name:focus {
    caret-color: #a6d7ff;
}

#hmi-info-driver-name::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #919191;
    font-family: Roboto;
    opacity: 1; /* Firefox */
}

#hmi-info-driver-name.warning {
    border-color: #b84242;
}

#hmi-info-driver-name.warning:focus {
    caret-color: #b84242;
}

#hmi-info-driver-start {
    border: 0;
    width: 120px;
    height: 36px;
    border-radius: 18.5px;
    background-color: #6cb1e9;
}

#hmi-info-driver-wrapper {
    padding-left: 10%;
}

#hmi-info-driver-wrapper:after {
    content: '*Required';
    font-size: 0.89em;
    font-family: Roboto;
    color: #919191;
    display: block;
    margin-top: 5px;
}

#hmi-info-driver-wrapper.warning:after {
    content: 'Please enter the driver’s name';
    color: #b84242;
}

#hmi-info-driver-wrapper i{
    display: none;
    border-radius: 20px;
    background-color: #b84242;
    color: #fff;
    width: 13px;
    height: 13px;
    text-align: center;
    font-size: 9px;
    padding-top: 2px;
    padding-right: 0px;
    position: absolute;
    right: 9%;
    top: 13px;
}

#hmi-info-driver-wrapper.warning i{
    display: block;
}

#hmi-info-list-1 .simplebar-track.horizontal {
    display: none;
}

#hmi-info-list-1, #hmi-info-list-2, #hmi-info-list-3 {
    position: absolute;
}

#hmi-info-list-2, #hmi-info-list-3 {
    overflow: hidden;
    display: none;
}

#hmi-info-list-3 {
    width: 100%;
}

#hmi-info-nav-left {
    opacity: 0;
    padding-left: 10%;
    text-align: left;
}

#hmi-info-nav-right {
    padding-right: 10%;
    text-align: right;
}

#hmi-info-nav-left, #hmi-info-nav-right {
    font-family: Roboto;
    font-size: 14px;
    color: #6cb1e9;
    cursor: pointer;
}

#hmi-rdm-base-progress {
    width: 100%;
    position: absolute;
    top: 1px;
    left: 0;
    z-index: 2;
}

#hmi-rdm-base-progress .info {
    font: 11px/1 sans-serif;
    color: #aaa;
    position: absolute;
    bottom: 4px;
    left: 0;
    right: 0;
}

#hmi-rdm-base-progress canvas {
    max-width: 100%;
    max-height: 100%;
}

#next-stop {  
    display: table-cell;
    vertical-align: middle;
    position: absolute;
    right: 0;
    bottom: 0;
}

#next-stop.radio-btn-wrap{
    display: inline-block;
    position: relative;
    width: 100%;
    color: #fff;
}

#next-stop.radio-btn-wrap label{
    /*
    change total_button in :
    width: calc(100%/total_button);
    */
    width: calc(100%/3);
    float: left;
    display: inline-block;
    position: relative;
    margin: auto;
    padding-top: 40px;
    font-size: 10px;
    color: #bdbdbd;
    text-align: center;
}


/* #next-stop.radio-btn-wrap label:first-of-type {text-align:left;}
#next-stop.radio-btn-wrap label:last-of-type {text-align:right;}
#next-stop.radio-btn-wrap label:first-of-type, 
#next-stop.radio-btn-wrap label:last-of-type {width: 15%;}
#next-stop.radio-btn-wrap label:first-of-type::after {left: 0;}
#next-stop.radio-btn-wrap label:last-of-type::after {right: 0; left: auto;} */

#next-stop .radio:checked + label::after{
    background-color: #33ffe7;
    border-width: 6px;
    -webkit-box-shadow:   0 0 4px 0 rgba(166, 215, 255, 0.5);
    box-shadow:           0 0 4px 0 rgba(166, 215, 255, 0.5);
}

#next-stop.radio-btn-wrap label::before{
    content: '';
    position: absolute;
    left: 0;
    top: calc(50% - 4px);
    height: 8px;
    width: 100%;
    display: inline-block;
    background-color: #25282e;
    -webkit-box-shadow: 1px 4px 2px 1px rgba(0, 0, 0, 0.25);
    box-shadow: 1px 4px 2px 1px rgba(0, 0, 0, 0.25);
}

#next-stop.radio-btn-wrap label::after{
    content: 'x';
    color: transparent;
    position: absolute;
    z-index: 1;
    left: calc(50% - 25px / 2);
    top: 0;
    bottom: 0;
    margin: auto;
    width: 25px;
    height: 25px;
    background-color: #bdbdbd;
    display: inline-block;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-color: #25282e;
    border-style: solid;
    border-width: 7px;
    transition: background-color 0.6s, border-width 0.4s, width 0.6s, height 0.6s, left 0.6s;
    -webkit-transition: background-color 0.6s, border-width 0.4s, width 0.6s, height 0.6s, left 0.6s;
    -webkit-box-shadow: 0px 2px 3px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 3px -1px rgba(0,0,0,0.75);
}

#next-stop .radio{
    -webkit-appearance: none;
    -moz-appearance: none;
    float: left;
    height: 0;
    width: 0;
    opacity: 100;
    margin: auto;
    padding: 0;
    outline: 0;
    border: none;
}

#next-stop .radio:checked + label + input + label::before {
    transition:         height .0s linear .3s;
    -webkit-transition: height .0s linear .3s;
}

#next-stop img {
    position: absolute;
    display: inline-block;
    width: 100%;
    margin-top: -20px;
    left: 0;
}

#next-stop-btn {
    cursor: pointer;
    background: #000;
    width: 98px;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    padding: 10px 0;
    border-radius: 999px;
    font-size: 14px;
    color: #ffffff;
}

#next-stop-btn:hover {
    border: 1px solid #a6d7ff;
}

#next-stop-btn:active {
    box-shadow: inset 1px 1px 10px #a6d7ff;
}

#next-stop-btn:after {
    content: "";
    position: absolute;
    left: calc(50% - 41px);
    margin-top: -10px;
    width: 82px;
    height: 10px;
    background: -webkit-radial-gradient(ellipse at 50% -3%, rgba(66, 78, 96, 0.5), rgba(28, 28, 28, 0.0) 80%);
    background: radial-gradient(ellipse at 50% -3%, rgba(66, 78, 96, 0.5), rgba(28, 28, 28, 0.0) 80%)
}

#overlay-vs {
    object-fit: contain;
    background-image: radial-gradient(circle at 49% 50%, rgba(0, 0, 0, 0), #000000);
    position: absolute;
    width: 100%;
    height: 100vh;
}

#panel-bottom-left {
    position: absolute;
    bottom: 0;
    min-width: 64px;
    max-width: 96px;
    padding: 0 0 0 20px;
    margin: 0;
    z-index: 10;
}

#panel-bottom-left li {
    cursor: pointer;
    width: 48px;
    list-style-type: none;
    margin-bottom: 20px;
    border-radius: 999px;
    background-image: radial-gradient(circle at 50% 0, #49556d, #15181e);
    box-shadow: inset 1px 1px 8px rgba(0, 0, 0, 0.8), 
                inset -1px 1px 8px rgba(0, 0, 0, 0.8), 
                inset 0px 23px 40px rgba(193, 193, 193, 0.0);
}

#panel-bottom-left li:active {
    box-shadow: inset 0px 0px 45px 3px rgba(71,105,145,0.25), 
                inset 0px -23px 40px rgba(193, 193, 193, 0.0);
}

#panel-bottom-left li.on {
    background-image: radial-gradient(circle at 50% 0, #272d39, #15181e);
    box-shadow: inset 0px 0px 0px 3px rgba(71,105,145,1), 
                inset 1px 1px 2px rgba(255,255,255,0.3), 
                inset 3px 15px 45px rgba(255,255,255,0.1);
}

#panel-bottom-left li.on:active {
    box-shadow: inset 0px 0px 0px 3px rgba(71,105,145,1), 
                inset 3px 15px 45px rgba(0,0,0,0.2),
                inset -1px -1px 2px rgba(0,0,0,0.5), 
                inset -3px -15px 45px rgba(255,255,255,0.1);
}

#panel-bottom-left li.on:after {
    cursor: auto;
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: #a6d7ff;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    display: inline-block;
    margin-left: 18px;
    margin-top: calc((100% - 20px - 2px) / 2);

}

#panel-bottom-left li.on:before {
    cursor: auto;
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    border: solid 1px #476991;
    display: inline-block;
    margin-left: calc(100% - 20px);
    margin-top: calc((100% - 20px) / 2);
}

#panel-bottom-left li > img:first-child, #view-module img, #display-opt img {
    position: relative;
    display: inline-block;
    width: 50%;
    margin: 25%;
}

#panel-bottom-left li.on:first-child > img{content: url("../images/debug12.png");}
#panel-bottom-left li.on:nth-child(2) > img{content: url("../images/debug32.png");}
#panel-bottom-left li.on:nth-child(3) > img{content: url("../images/debug22.png");}
#panel-bottom-left li.on:nth-child(4) > img{content: url("../images/debug42.png");}
#panel-bottom-left li.on:nth-child(5) > img{content: url("../images/debug52.png");}

#panel-bottom-middle {
    width: 263px;
    height: 167px;
    position: absolute;
    bottom: 20px;
    left: calc(50% - 131.5px);
}

#panel-top {
    position: absolute;
    padding: 24px 0 0 24px;
    width: 100%;
    z-index: 10;
    top: 0%;
}

#panel-top-middle {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
}

#panel-top-middle #vs-gauge {
    margin: 0;
    padding: 0;
    margin-top: 21px;
}

#panel-top-middle .vs-gauge-label {
    position: absolute;
    /*width: calc(25% - 10px);
    left: calc(37.5% + 5px);*/
    width: calc(256px - 15px);
    left: calc(50% - 128px + 7.5px);
    top: calc(21px + 10px + 7.5px);
}

#panel-top-notify {
    position: absolute;
    right: 20px;
    top: 86px;
    max-height: 400px;
    margin: 0;
    padding: 0;
}

#panel-top-notify li {
    width: 275px;
    height: 50px;
    padding: 10px 20px;
    border-radius: 1px;
    background-color: #14171c;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    display: table;
}

#panel-top-notify .notify-content {
    width: 169px;
    display: table-cell;
    vertical-align: middle;
}

#panel-top-notify .notify-content span:first-of-type{
    display: block;
    font-size: 12px;
    color: #f2f2f2;
}

#panel-top-notify .notify-content span:nth-of-type(2){
    display: block;
    font-size: 10px;
    color: #bdbdbd;
}

#panel-top-notify .notify-icon {
    display: table;
    width: 24px;
    height: 24px;
    border-radius: 999px;
    background-color: #a6d7ff;
    margin: 8px 0;
    text-align: center;
    font-size: 15px;
}

#panel-top-notify .notify-icon i{
    vertical-align: middle;
    color: #476991;
}

#panel-top-notify .notify-icon-x {
    cursor: pointer;
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    color: #476991;
    font-size: 20px;
    width: 30px;
}

#panel-top-right {
    position: absolute;
    right: 20px;
    top: 37px;
    height: 37px;
}

#panel-top-right .dropdown-menu {
    border-radius: 1px;
    background-color: rgba(20, 23, 28, 0.9);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    padding: 0;
}

#panel-top-right .dropdown-menu button{
    font-size: 14px;
    color: #476991;
    border-bottom: 1px solid #000;
    padding: 5px 15px;
}

#panel-top-right .dropdown-toggle {
    margin: 0 20px 0 11px;
    float: right;
    background: none;
    border-radius: 999px;
    width: 37px;
    padding: 0 !important;
    border: 0;
}


#panel-top-right .dropdown-toggle img {
    width: 100%;
}

#panel-top-right .dropdown-item{
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

#show-gpp .view-info-button.on > img{content: url("../images/display12.png");}
#show-lppl .view-info-button.on > img{content: url("../images/display22.png");}
#show-lppz .view-info-button.on > img{content: url("../images/display32.png");}
#show-vbb .view-info-button.on > img{content: url("../images/display42.png");}
#show-vm .view-info-button.on > img{content: url("../images/display52.png");}
#show-vs .view-info-button.on > img{content: url("../images/display62.png");}
#s1-loc .view-info-button.on > img{content: url("../images/module12.png");}
#s1-mp .view-info-button.on > img{content: url("../images/module22.png");}
#s1-dm .view-info-button.on > img{content: url("../images/module32.png");}
#s1-lod .view-info-button.on > img{content: url("../images/module42.png");}
#s1-mc .view-info-button.on > img{content: url("../images/module52.png");}

#view-debug ul {
    max-height: 440px;
    overflow-x: scroll;
}

#view-debug li {
    font-family: Roboto;
    font-size: 12px;
    margin-bottom: 5px;
}

#view-debug li:before {
    content: ":";
    position: relative;
    left: 49%;
}

#view-debug span:nth-child(2) {
    position: relative;
    float: right;
    display: flex;
    right: 20px;
    text-align: left;
    width: 40%;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

#view-help {
    font-size: 12px;
}

#view-help > div:first-of-type {
    text-align: center;
    padding-right: 20px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
}

#view-help > div:nth-of-type(2) {
    color: #bdbdbd;
    padding: 0 20px 20px 0;
}

#view-help a:visited {color:#ffffff;}  /* visited link */
#view-help a:hover {color:#ffffff;}    /* mouse over link */
#view-help a:active {color:#ffffff;text-decoration:none;}   /* selected link */

#view-help span {
    color: #ffffff;
}

#view-info {
    overflow: hidden;
}

#view-info h3 {
    margin-top: 30px;
    font-family: Roboto;
    font-size: 16px;
    color: #e0e0e0;
}

#view-module ul, #display-opt ul {
    margin: 0;
    padding: 0;
}

#view-module li, #display-opt li {
    position: relative;
    float: left;
    width: calc(33% - 36px);
    height: auto;
    margin: 0 26px 20px 10px;
}

#view-module li div:nth-child(2), #display-opt li div:nth-child(2){
    width: 100%;
    font-family: Roboto;
    font-size: 10px;
    text-align: center;
    color: #bdbdbd;
    margin-top: 10px;
}

#view-notify {
    padding-left: 0;
}

#view-notify h2 {
    padding-left: 20px;
}

#view-notify ul {
    font-family: Roboto;
    font-size: 10px;
    color: #bdbdbd;
    min-height: 7vw;
    max-height: 440px;
}

#view-notify li {
    display: table;
    padding: 10px 20px;
    width: 100%;
    border-bottom: 1px solid #080a0d;
}

#view-notify span {
    display: block;
}

#view-notify span:first-of-type {
    font-size: 12px;
    color: #f2f2f2;
}

#view-notify span:not(:first-of-type) {
    font-size: 10px;
    color: #bdbdbd;
}

#view-notify span:last-of-type {
    margin-top: 5px;
}

#view-notify .notify-content {
    display: table-cell;
    vertical-align: middle;
    width: 87%;
}

#view-notify .notify-icon {
    display: table;
    width: 24px;
    height: 24px;
    border-radius: 999px;
    background-color: #a6d7ff;
    margin: 10px 15px 10px 2px;
    text-align: center;
    font-size: 15px;
}

#view-notify .notify-icon i{
    vertical-align: middle;
    color: #476991;
}

#view-notify-clear {
    cursor: pointer;
    font-size: 14px;
    color: #476991;
    position: absolute;
    top: 25px;
    right: 20px;
}

#view-notify-clear:hover {
    text-decoration: underline;
}

#view-notify-no-message {
    padding-left: 20px;
    color: #bdbdbd !important;
}

#view-notify-no-read {
    display: none;
    width: 5px;
    height: 5px;
    background-color: #ff3366;
    position: absolute;
    border-radius: 10px;
    margin-top: -32px;
    margin-left: 29px;
}

#visualizer-wrapper {
    display: none;
}

#vs-btn-full-screen {
    float: left;
    width: 37px;
    margin-top: 14px;
    border: solid 1px #15181e;
    margin-left: 8px;
}

#vs-btn-full-screen img {
    width: 50%;
    padding-top: 25%;
    margin-left: 25%;
    margin-bottom: 25%;
}

#vs-driver-info {
    display: table;
    vertical-align: middle;
    text-align: right;
}

#vs-driver-info p {
    display: table-cell;
    vertical-align: middle;
    text-shadow: 0 0 black;
    color: #bdbdbd;
    line-height: 17px;
}

#vs-driver-info p span:first-child{
    color: #fff;
}

#vs-ego-mode {
    float: left;
    width: 120px;
    height: 37px;
    text-align: center;
    margin-left: 36px;
    margin-top: 13px;
    border-radius: 30px;
    background-color: #343642;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
}

#vs-ego-mode div {
    font-size: 12px;
    text-align: center;
    color: #33ffe7;
    margin: -6px 0 3px 0;
}

#vs-ego-mode:before {
    content: "CURRENT STATE";
    font-size: 7px;
    text-align: center;
    color: #828282;
}

#vs-gauge-val {
    height: 57px;
}

#wrapper-list-nav {
    position: relative;
    height: calc(100% - 75px - 56px);
    width: 100%;
}

#handbrake{
    margin-right: 10px;
    padding: 0px;
    width: 20px;
    height: 20px;
}

#seatbelt{
    margin: 0px;
    padding: 0px;
    width: 30px;
    height: 25px;
}

#throttle{
    margin-right: 10px;
    padding: 0px;
    width: 20px;
    height: 25px;
}

#fuel{
    margin-right: 5px;
    padding: 0px;
    width: 25px;
    height: 25px;
}


#left-lidar{
    margin-right: 5px;
    padding: 0px;
    width: 25px;
    height: 17px;
}

#right-lidar{
    margin-right: 5px;
    padding: 0px;
    width: 25px;
    height: 17px;
}

#radar{
    margin-right: 5px;
    padding: 0px;
    width: 25px;
    height: 25px;
}

#vi{
    margin-right: 5px;
    padding: 0px;
    width: 25px;
    height: 20px;
}

#px2{
    margin: 0px;
    padding: 0px;
    width: 30px;
    height: 30px;
}

#btn-start-remote{
    margin-left: 20px;
}


/***********************************************************************
 * Common Classes                                                    ***
 **********************************************************************/
.btn-alert {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    border-radius: 999px;
    display: inline-block;
    width: calc(50% + 20px);
    padding-top: 25%;
    padding-bottom: 25%;
    background-image: radial-gradient(circle at 50% 3%, #863535, #3e1818);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5), inset 0 1px 3px 0 rgba(40, 42, 51, 0.5);
}

.btn-alert:active {
    box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.95);
}
 
.btn-round-black {
    cursor: pointer;
    width: 100%;
    position: relative;
    border-radius: 999px;
    background-image: radial-gradient(circle at 50% 0, #1a1e26, #15181e 99%);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5), inset 0 1px 3px 0 rgba(40, 42, 51, 0.5);
}

.btn-round-black:before {
    content: "";
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    left: -3px;
    top: -3px;
    position: absolute;
    display: inline-block;
    z-index: -1;
    border-radius: 999px;
}

.btn-round-black.on:before {
    background: #51fee7;
    background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0, rgb(69, 144, 151)), color-stop(0.25, rgb(166, 247, 255)),color-stop(0.5, rgb(69, 144, 151)),color-stop(0.75, rgb(166, 247, 255)),color-stop(1, rgb(69, 144, 151)));
    /* Android 2.3 */
    background-image: -webkit-repeating-linear-gradient(bottom,rgb(69, 144, 151) 0%,rgb(166, 247, 255) 25%,rgb(69, 144, 151) 50%,rgb(166, 247, 255) 75%,rgb(69, 144, 151) 100%);
    /* IE10+ */
    background-image: repeating-linear-gradient(to top,rgb(69, 144, 151) 0%,rgb(166, 247, 255) 25%,rgb(69, 144, 151) 50%,rgb(166, 247, 255) 75%,rgb(69, 144, 151) 100%);
    background-image: -ms-repeating-linear-gradient(bottom,rgb(69, 144, 151) 0%,rgb(166, 247, 255) 25%,rgb(69, 144, 151) 50%,rgb(166, 247, 255) 75%,rgb(69, 144, 151) 100%);
}

/***********************************************************************
 * HMI Classes                                                       ***
 **********************************************************************/
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.hmi-wrapper {
    display: block;
    width: 100%;
    height: 100vh;
    margin: 0;
}

.hmi-wrapper .hmi-info {
    height: 100%;
    background-color: #f2f2f2;
    padding: 0;
}

.hmi-wrapper .hmi-info h2{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
    color: #476991;
    padding: 30px 0 30px 10%;
    height: auto;
    margin: 0;
    -webkit-text-stroke: 1px #476991;
}

.hmi-wrapper .hmi-info ul {
    overflow-x: hidden !important;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    margin: 0;
    padding-bottom: 10px;
}

.hmi-wrapper .hmi-info li {
    padding: 7.5px 0 7.5px 10%;
    background-color: #f2f2f2;
    border: 0;
    height: 50px;
}

.hmi-wrapper .hmi-info li img{
    width: auto;
    height: 60%;
    margin: 6px 10px 6px 0;
}

.hmi-wrapper .hmi-info li span{
    font-family: Roboto;
    position: absolute;
    font-weight: normal;
    font-style: normal;
}

.hmi-wrapper .hmi-info li span.hmi-info-li-title {
    font-size: 12px;
    letter-spacing: 1px;
    color: #bdbdbd;
}

.hmi-wrapper .hmi-info li span.hmi-info-li-val {
    top: 24px;
    font-size: 16px;
    color: #343642;
}

.hmi-wrapper .hmi-info-list-nav {
    width: 100%;
    height: 56px;
    text-align: center;
    padding-top: 14px;
    border-top: 1px solid #ddd;
}

.hmi-wrapper .hmi-rdm {
    height: 100%;
    background-color: #0c151f;
    text-align: center;
    padding: 0;
}

.hmi-wrapper .hmi-rdm-base {
    width: 100%;
    margin-top: 27px;
}

.hmi-wrapper .hmi-rdm-base-c1 {
    margin: auto;
    background: #050a0f;
    width: 70%;
    padding: 9%;
    border-radius: 50%;
}

.hmi-wrapper .hmi-rdm-base-c2 {
    position: relative;
    margin: auto;
    background: #20232d;
    width: 100%;
    padding-top: 100%;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
}

.hmi-wrapper .hmi-rdm-base-c2:after {
    position: absolute;
    content: "";
    width: 99.5%;
    height: 99.5%;
    top: 0.25%;
    left: 0.25%;
    border-radius: 50%;
    background-color: #20242d;
    z-index: 1;
}

.hmi-wrapper .hmi-rdm-base-c2:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0.0%;
    left: 0.0%;
    background-image: linear-gradient(to top, #000000 0%, #ffffff 100%);
    border-radius: 50%;
}

.hmi-wrapper .hmi-rdm-base-c21 {
    position: absolute;
    margin: auto;
    width: 95%;
    height: 95%;
    top: 2.5%;
    left: 2.5%;
    border: 1px solid #050a0f;
    border-radius: 50%;
    z-index: 2;
}

.hmi-wrapper .hmi-rdm-base-c3 {
    text-align: center;
    position: absolute;
    width: 105%;
    z-index: 2;
    top: -2.5%;
    left: -2.5%;
}

.hmi-wrapper .hmi-rdm-base-c3 img {
    width: 100%;
}

.hmi-wrapper .hmi-rdm-base-c3 .hmi-rdm-charge {
    position: absolute;
    top: 3%;
    margin: auto;
    width: 100%;
}

.hmi-wrapper .hmi-rdm-base-c3 .hmi-rdm-charge img{
    width: 1.5%;
}

.hmi-wrapper .hmi-rdm-base-c3 .hmi-rdm-charge span {
    display: block;
    margin-top: 0.5%;
    font-family: Helvetica;
    font-size: 15px;
    letter-spacing: 3.3px;
    color: #828282;
}

.hmi-wrapper .hmi-rdm-car {
    position: absolute;
    top: 17%;
    width: 100%;
}

.hmi-wrapper .hmi-rdm-car img {
    width: 37%;
}

.hmi-wrapper .hmi-rdm-ready {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 10;
    font-family: Helvetica;
    font-weight: 300;
    color: #33ffe7;
    margin-top: -50px;
    letter-spacing: 4.2px;
    font-size: 1.2em;
    display: none;
}

.hmi-wrapper .hmi-rdm-ready span:first-child{
    display: block;
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    line-height: 0.4;
    font-size: 1.5em;
    margin-right: 0.2em;
    margin-bottom: 5px;
    animation-name: bounceArrow;
    animation-duration:1.4s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

.hmi-wrapper .hmi-rdm-topic {
    padding-top: 30px;
}

.hmi-wrapper .hmi-rdm-topic-logo {
    margin: auto;
}

.hmi-wrapper .hmi-rdm-topic-logo img {
    width: 5%;
}

.hmi-wrapper .hmi-rdm-topic-text {
    text-shadow: 0px 0px #919191;
    margin-top: 10px;
    font-family: Roboto;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 4.5px;
    text-align: center;
    color: #919191;
}

/***********************************************************************
 * Visualizer Classes                                                ***
 **********************************************************************/
.vs-icons {
    position: absolute;
    width: 100%;
    margin-top: -45px;
}

.vs-icons.group-2 {
    margin-top: 0px;
}

.vs-icons.group-3 {
    margin-top: 45px;
}

.vs-icons li {
    display: inline-block;
    margin: 0 10px;
    font-size: 10px;
    text-align: center;
    color: #bdbdbd;
}

.vs-icons li img {width: 20px;}
 
.view-info-wrapper {
    position: absolute;
    color: #ffffff;
    display:none;
    width: 26.9%;
    max-width: 350px;
    height: auto;
    bottom: 0;
    left: 88px;
    z-index: 1;
    font-family: Roboto;
    border-radius: 1px;
    margin-bottom: 20px;
    background-color: rgba(21, 24, 30, 0.9);
    box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.5);
    padding: 20px 0 0 20px;
}

.view-info-wrapper h2{
    font-size: 20px;
    margin: 0 0 20px 0;
}

.vs-btn-power-wrapper {
    width: 20%;
    min-width: 70px;
}
 
.vs-btn-power {
    float: left;
    position: relative;
    cursor: pointer;
    font-family: Roboto;
    margin: 0px auto;
    text-align: center;
    color: #ffffff;
    font-size: 5em;
    width: 62px;
    padding-top: 62px;
    border-radius: 999px;
    background: #25292C;
    box-shadow: inset 1px 1px 2px rgba(255,255,255,0.3), 
              inset 3px 15px 45px rgba(255,255,255,0.1),
              inset -1px -1px 2px rgba(0,0,0,0.5), 
              inset -3px -15px 45px rgba(0,0,0,0.2),
              1px 5px 30px -4px rgba(0,0,0,1);
    -webkit-transition: 0.1s ease-out;
    -moz-transition:    0.1s ease-out;
    -o-transition:      0.1s ease-out;
    transition:         0.1s ease-out;
}

.vs-btn-power:before {
    content: "";
    background: #51fee7;
    background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0, rgb(71, 105, 145)), color-stop(0.25, rgb(166, 215, 255)),color-stop(0.5, rgb(71, 105, 145)),color-stop(0.75, rgb(166, 215, 255)),color-stop(1, rgb(71, 105, 145)));
    /* Android 2.3 */
    background-image: -webkit-repeating-linear-gradient(bottom,rgb(71, 105, 145) 0%,rgb(166, 215, 255) 25%,rgb(71, 105, 145) 50%,rgb(166, 215, 255) 75%,rgb(71, 105, 145) 100%);
    /* IE10+ */
    background-image: repeating-linear-gradient(to top,rgb(71, 105, 145) 0%,rgb(166, 215, 255) 25%,rgb(71, 105, 145) 50%,rgb(166, 215, 255) 75%,rgb(71, 105, 145) 100%);
    background-image: -ms-repeating-linear-gradient(bottom,rgb(71, 105, 145) 0%,rgb(166, 215, 255) 25%,rgb(71, 105, 145) 50%,rgb(166, 215, 255) 75%,rgb(71, 105, 145) 100%);
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    position: absolute;
    top: -4px;
    left: -4px;
    z-index: -1;
    border-radius: 999px;
}

.vs-btn-power.on:before {
    content: "";
    background: #51fee7;
    background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0, rgb(69, 144, 151)), color-stop(0.25, rgb(166, 247, 255)),color-stop(0.5, rgb(69, 144, 151)),color-stop(0.75, rgb(166, 247, 255)),color-stop(1, rgb(69, 144, 151)));
    /* Android 2.3 */
    background-image: -webkit-repeating-linear-gradient(bottom,rgb(69, 144, 151) 0%,rgb(166, 247, 255) 25%,rgb(69, 144, 151) 50%,rgb(166, 247, 255) 75%,rgb(69, 144, 151) 100%);
    /* IE10+ */
    background-image: repeating-linear-gradient(to top,rgb(69, 144, 151) 0%,rgb(166, 247, 255) 25%,rgb(69, 144, 151) 50%,rgb(166, 247, 255) 75%,rgb(69, 144, 151) 100%);
    background-image: -ms-repeating-linear-gradient(bottom,rgb(69, 144, 151) 0%,rgb(166, 247, 255) 25%,rgb(69, 144, 151) 50%,rgb(166, 247, 255) 75%,rgb(69, 144, 151) 100%);
}

.vs-btn-power:active, .btn-round-black:active{
    color: rgba(0,0,0,0.7);
    text-shadow: 1px 1px 0px rgba(255,255,255,0.15);
    box-shadow: inset 1px 1px 2px rgba(255,255,255,0.3), 
              inset 3px 15px 45px rgba(0,0,0,0.2),
              inset -1px -1px 2px rgba(0,0,0,0.5), 
              inset -3px -15px 45px rgba(255,255,255,0.1),
              1px 5px 10px -4px rgba(0,0,0,1);
}
    
.vs-btn-power span {
    position: absolute;
    width: 18%;
    height: 6px;
    left: calc(50% - 9%);
    top: 10px;
    background: #f2f2f2;
    border-radius: 999px;
}

.vs-btn-power.on span {
    background: #51fee7;
}

.vs-btn-power div {
    position: absolute;
    margin: 0 auto;
    line-height: normal;
    width: 100%;
}

.vs-btn-power div:nth-child(2) {
    font-size: 0.17em;
    top: 21px;
}

.vs-btn-power div:nth-child(3) {
    font-size: 0.1em;
    top: 36px;
}

.vs-gauge-val {
    width: 100px;
    height: 77px;
    font-size: 48px;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    position: absolute;
    left: calc(50% - 50px);
    top: calc(50% - 22.5px);
}

.vs-gauge-val div:nth-child(2)
{
    color: #bdbdbd;
    font-size: 14px;
    position: relative;
}

/***********************************************************************
 * Different media                                                  ***
 **********************************************************************/
@media (max-width: 914.285px)
{
    .view-info-wrapper { left: 84px;}
}
 
@media (min-width: 768px) and (max-width: 1024px) 
{
    .hmi-wrapper .hmi-rdm-topic-text {
        font-size: 18px;
    }
    
}

@media only screen and (min-width: 1025px) 
{
    .hmi-wrapper .hmi-rdm-topic-text {
        font-size: 24px;
    }
}

/***********************************************************************
 * Animations                                                        ***
 **********************************************************************/
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

@keyframes bounceArrow {
    0%    {
        opacity: 1; 
        -webkit-transform: rotate(-90deg) translateX(0px) scale(1);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(-90deg) translateX(0px) scale(1);  /* IE 9 */
        transform: rotate(-90deg) translateX(0px) scale(1);  /* Firefox 16+, IE 10+, Opera */
    }
    25%   {
        opacity: 0; 
        -webkit-transform: rotate(-90deg) translateX(10px) scale(0.9);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(-90deg) translateX(10px) scale(0.9);  /* IE 9 */
        transform: rotate(-90deg) translateX(10px) scale(0.9);  /* Firefox 16+, IE 10+, Opera */
    }
    26%   {
        opacity: 0; 
        -webkit-transform: rotate(-90deg) translateX(-10px) scale(0.9);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(-90deg) translateX(-10px) scale(0.9);  /* IE 9 */
        transform: rotate(-90deg) translateX(-10px) scale(0.9);  /* Firefox 16+, IE 10+, Opera */
    }
    55%   {
        opacity: 1; 
        -webkit-transform: rotate(-90deg) translateX(0px) scale(1);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(-90deg) translateX(0px) scale(1);  /* IE 9 */
        transform: rotate(-90deg) translateX(0px) scale(1);  /* Firefox 16+, IE 10+, Opera */
    }
}

@-webkit-keyframes blinker {
    from {opacity: 1.0;}
    to {opacity: 0.5;}
}
@keyframes blinker {
    from {opacity: 1.0;}
    to {opacity: 0.5;}
}
